/* Universal Tags */

* {

    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;

}

html {
    
    color: #1f1f1f;
    font-size: 14px;
    font-family: 'Poppins', 'Roboto', sans-serif;

}

body {

    width: 100%

}

section {

    width: 100%;

}

a {

    color: #1f1f1f;
    text-decoration: none;

}

h1, h2, h3, h4, h5, h6 {

    line-height: 1.2;

}

h1 {

    font-size: 3.81rem;

}

h2 {

    font-size: 3.05rem;

}

h3 {

    font-size: 2.44rem;

}

h4 {

    font-size: 1.95rem;

}

h5 {

    font-size: 1.56rem;

}

h6 {

    font-size: 1.25rem;

}


/* Header and Navigation */

header {

    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;

}

header nav {

    max-width: 1440px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div {

    display: flex;
    align-items: center;
    height: 100%;

}

header h3 {

    display: inline-block;
    margin: 0 8px;
    letter-spacing: 4px;
    transition: .3s;

}

.pinkFont:hover {

    color: #d12863;

}

.blueFont:hover {

    color: #5a60d6

}

header form {

    background-color: #f1f1f1;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    border-radius: 50px;
    padding: 4px 12px;
    margin: 0 12px;

}

header input {

    height: 32px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-right: 8px;
    flex: 1 1 100%;

}

header input:focus {

    border: 0px none transparent;
    outline: 0px none transparent;

}

header button {

    background-color: transparent;

}

header button svg {

    fill: #1f1f1f;
    margin: 0;

}

header a {

    height: 100%;
    color: #f1f1f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 12px;

}

#logo {

    margin-right: 16px;

}

header svg {

    color: #f1f1f1;
    fill: currentColor;
    height: 32px;
    width: auto;

}

#openSearch {

    cursor: pointer;
    transition: .2s;

}

#openSearch:hover {

    transform: scale(1.2);

}

#openSearch:active {

    transform: scale(.8);

}

#accDropdown {

    top: 64px;
    /* transform: translateX(-15%); */
    width: 225px;
    background-color: rgba(237, 237, 237, .9);
    list-style-type: none;
    position: absolute;
    border: 2px solid rgba(31, 31, 31, .9);
    border-top: none;
    display: none;
    z-index: 90;

}

#headAcc:hover + #accDropdown, #accDropdown:hover {

    display: block;

}

header nav li a {

   color: #1f1f1f;
   fill: currentColor;
   height: 40px;
   margin: 0px;
   padding: 0 12px;
   transition: .5s;

}

header nav li a:hover {

    background-color: rgba(31, 31, 31, .5);
    color: #f1f1f1;
    font-weight: bolder;
    fill: currentColor;

}

header nav li svg {

    height: 24px;
    color: #1f1f1f;
    fill: currentColor;
    margin: 0 12px 0 0;
 
 }

header nav li a:hover svg {

    fill: #f1f1f1;

}

.tabletLinks {

    display: none;

}

.mobileLinks {

    display: none;
    
}

#menuButton {

    margin-right: 20px;
    cursor: pointer;
    transition: .2s;

}

#menuButton:hover {

    transform: scale(1.2);

}

#menuButton:active {

    transform: scale(.8);

}

#menu {

    background-color: rgba(31, 31, 31, .7);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 120;
    display: flex;

}

#menuBg {

    width: 320px;
    max-width: 100%;
    height: 100%;
    background-color: #dddddd;
    overflow-y: auto;

}

.menuNav {

    background-color: #f1f1f1;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    margin: 0 16px 16px 16px;

}

.menuHeading {

    background-color: #eeeeee;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    margin: 0 0 16px 0;

}

.column {

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#menu a {

    display: block;

}

#menuClose {

    height: 48px;
    padding: 4px;
    filter: invert(100%) sepia(4%) saturate(361%) hue-rotate(214deg) brightness(115%) contrast(89%);
    transition: .3s;

}

#menuClose:hover {

    transform: scale(1.2);

}

#menuClose:active {

    transform: scale(.8);

}

#menuHeader {

    display: flex;
    justify-content: space-around;
    text-align: center;

}

#menuHeader h6 {

    width: 100%;
    padding: 16px;

}

#navCat {

    width: 100%;
    background-color: #404040;

}

#navCat a {

    display: block;
    color: #f1f1f1;
    text-decoration: none;
    padding: 12px;
    transition: background-color .5s;

}

#navCat a:hover {

    font-weight: normal;
    background-color: #d12863;

}

#navCat ul {

    list-style-type: none;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    font-size: 0.86rem;
    font-weight: lighter;

}

#mobileSearchSection {

    background-color: #404040;
    padding: 4px 0;
    display: block;
    position: absolute;
    top: -42px;

}

#mobileSearchSection form {

    background-color: #f1f1f1;
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    border-radius: 50px;
    padding: 1px 12px;
    margin: 0 12px;

}

#mobileSearchSection input {

    height: 32px;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding-right: 8px;
    flex: 1 1 100%;

}

#mobileSearchSection input:focus {

    border: 0px none transparent;
    outline: 0px none transparent;

}

#mobileSearchSection button {

    background-color: transparent;

}

#mobileSearchSection button svg {

    fill: #1f1f1f;
    margin: 0;

}


/* Main Section */

/* Sale Section */

#sale {

    background-color: #eaddf0;

}

#saleTabs {

    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#sale article div {

    width: 50%;
    flex: 1 1 50%;
    padding: 8px;

}

#sale article div div {

    max-width: 770px;

}

#saleBanner {

    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;

}

/* Coats Section */

#styles1 {

    width: 100%;
    padding: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

#topImg {

    max-width: 1280px;
    object-fit: cover;
    display: block;

}

#styles1 a {

    color: #f1f1f1;
    text-decoration: none;
    display: block;

}

#topImgContent{

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(31, 31, 31, .5);
    padding: 16px;
    width: 100%;
    max-width: 1280px;

}

.topImgBtn {

    max-width: 150px;
    margin: 16px auto;
    display: block;
    background-color: #1f1f1f;
    border: 2px solid #f1f1f1;
    padding: 8px;
    transition: .5s;
    color: #f1f1f1;

}

.topImgBtn:hover {

    color:#1f1f1f;
    background-color: #f1f1f1;
    border: 2px solid #1f1f1f;
    transform: scale(1.3);

}


/* Styles 2 Section */

#styles2 {

    width: 100%;

}

#styleArticle {

    max-width: 1440px;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.styleImages {

    max-width: 22%;
    min-width: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    text-align: center;

}

.styleImages p {

    height: 32px;

}

.styleImages figcaption {

    padding: 6px 0 0 0;

}

.styleImages img {

    max-width: 100%;
    object-fit: contain;
    display: block;

}


/* Sale 2 Section */

#sale2 {

    width: 100%;
    background-color: #d1507d;
    padding: 24px;
    margin: 0 0 32px 0;
    text-align: center;

}

#sale2 h4 {

    transition: 1s;

}

#sale2 h4:hover {

    transform: scale(1.3);

}


/* Styles 3 Section */

#styles3 {

    width: 100%;
    background-color: #c5fa4a;
    margin: 32px 0;

}

#styles3 article {

    max-width: 1024px;
    margin: 0 auto;
    display: flex;

}

#styles3 figure {

    width: 50%;
    padding: 32px 8px;
    text-align: center;

}

#styles3 img {

    width: 100%;
    display: block;
    padding-bottom: 8px;

}

#styles3 p {

    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Popular Brands Section */

#popularBrands {

    width: 100%;
    background-color: #1f1f1f;
    margin: 64px 0;

}

#popularBrands article {

    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 16px;

}

#popularBrands a {

    display: block;
    width: 25%;
    min-width: 144px;

}

#popularBrands img {

    width: 100%;
    padding: 20%;
    display: block;
    margin: auto;

}


/* paypal Section */

#paypal {

    background-image: url(../images/paypalbg.jpg);
    background-repeat: no-repeat;
    text-align: center;

}

#paypal article {

    max-width: 800px;
    margin: 0 auto;
    padding: 64px 0;

}

#paypal h2, #paypal h5 {

    color: #f1f1f1;

}

#paypal img {

    max-width: 100%;
    max-height: 100px;
    min-height: 60px;
    display: block;
    margin: 0 auto 16px;
    padding: 16px;
    object-fit: cover;

}


/* Join Us Section */

#joinUs {

    width: 100%;
    
}

#joinUs article {

    max-width: 1440px;
    text-align: center;
    padding: 96px 16px;
    margin: 0 auto;


}

.joinUsBtn {

    max-width: 250px;
    margin: 16px auto 0;
    display: block;
    background-color: #1f1f1f;
    border: 2px solid #1f1f1f;
    padding: 8px;
    transition: .5s;
    color: #f1f1f1;
    font-size: 12px;

}

.joinUsBtn:hover {

    color:#1f1f1f;
    background-color: #f1f1f1;
    border: 2px solid #1f1f1f;
    transform: scale(1.3);
    font-weight: bold;

}


/* Footer */

#socialsPartners {

    width: 100%;
    background-color: #303030;

}

#socialsPartners article {

    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 1 0;
    padding: 16px 0;

}

#socialsPartners a {

    display: inline-block;

}

#socialsPartners div {

    display: flex;
    align-items: center;

}

.icon {

    height: 24px;
    width: auto;
    margin: 0 8px;
    fill:rgba(237, 237, 237, 1);
    transition: .5s;

}

.icon:hover {
    transform: scale(1.5);
}

#line {

    border: 1px solid #f1f1f1;
    margin: 0 32px;

}

#siteMap {

    width:100%;
    background-color: #eeeeee;

}

#siteMap h6 {

    font-size: 1.1rem;

}

#siteMap p {

    padding: 4px;
    font-size: .8rem;
    display: flex;
    align-items: center;

}

#siteMap article {

    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

#siteMap article div {

    padding: 32px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

}

.grow {

    flex-grow: 1;

}

#siteMap article ul {

    list-style-type: none;

}

#countrySelect {

    width: 25%;

}

.listHeader {

    padding: 8px 0;

}

.countryLink:hover {

    color: #2f3679;

}

#country {

    height: .8rem;
    margin: 0 4px;
    border-radius: 50px;

}

#footer {

    background-color: #afafaf;
    width: 100%;

}

#footer article {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;

}

#footer div {

    padding: 0 8px;

}

#footer p {

    padding: 12px 0;

}


/* Style Classes */

.darkBg {

    background-color: #141414;
    color: #f1f1f1;

}

.flexStart {

    display: flex;
    justify-content: flex-start;

}

.flexEnd {

    display: flex;
    justify-content: flex-end;

}

.italic {

    font-style: italic;

}

.letterSpacing {

    letter-spacing: 16px;

}

.letterSpacing2 {

    letter-spacing: 4px;

}

.textCentre {

    text-align: center;

}

.smallPrint {

    padding-top: 16px;
    font-size: 0.75rem;

}

.block {

    display: block;

}

.lightFont {

    color:#f1f1f1

}

.circle {

    border-radius: 50px;

}


@media only screen and (max-width: 1150px) {

    #accDropdown {

        right: 0;

    }


}

@media only screen and (min-width: 901px) {

    #menu {

        display: none;

    }

}


@media only screen and (max-width: 900px) {

    .desktopLinks {

        display: none;

    }

    .tabletLinks {

        display: flex;
    
    }

    #navCat {

        display: none;

    }

    #styles1 {

        padding: 0;

    }

    #topImg {

        max-width: 140%;
        object-fit: cover;
    
    }

    .styleImages {

        flex: 0 1 30%;

    }

    #styles3 {

        margin-bottom: 0;

    }

    #popularBrands {

        margin: 0 0 32px 0;

    }

    #siteMap article {

        display: block;

    }

    #siteMap article div {

        padding: 8px;

    }

    #siteMap #countrySelect {

        border-top: 1px solid #cccccc;
        padding: 0;
        text-align: center;
        width: 90%;

    }

    

}

@media only screen and (min-width: 734px) {

    #mobileSearchSection {

        display: none;

    }

}

@media only screen and (max-width: 735px) {

    html {

        font-size: 12px;

    }
   
    header {

        height: 48px;

    }

    header a {

        padding: 0 8px;
    
    }

    header svg {

        height: 24px;

    }

    header nav ul {

        top: 48px;

    }

    header nav form {

        display: none;

    }

    #accDropdown {

        top: 48px;
    
    }

    .mobileLinks {

        display: flex;

    }

    #saleTabs {

        display: none;

    }


    .styleImages {

        flex: 0 1 45%;

    }

    #socialsPartners {

        display: none;
    
    }

    #siteMap {

        display: none;

    }

}


@media only screen and (max-width: 360px) {

    .smallMobile {

        display: none;

    }

    #logo {

        height: 16px;

    }

    .styleImages {

        flex: 0 1 100%;

    }

}







